# Dependencies
node_modules/
dist/

# Env
.env

# Logs
*.log
logs/
*.csv

# Build outputs
*.tsbuildinfo

# IDE
.vscode/

# Test Cache
tests/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Database
business-ideas.db
